name: Release

on:
  push:
    tags:
      - "v*"     # Tag-based releases

permissions:
  contents: write
  id-token: write

jobs:
  build:
    uses: napi-rs/napi-rs/.github/workflows/release.yml@main
    secrets: inherit
